.searchBarContainer{
    width: 500px;
}

.searchBarContainer :global(.vtex-input-prefix__group){
    border:none;
    border-radius:0;
    border-bottom:thin solid seashell
}
.searchBarContainer :global(.vtex-input__suffix){
    background: transparent;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input){
    background: transparent;
    color:rgb(79, 251, 79);
}

.searchBarIcon{
    color:white
}

.imageElement{
    border-radius: 25px;
}

.installmentsPrice {
    color:#59ff00;
}

.sellingPrice {
    color: white;
}

.productBrand {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .searchBarInnerContainer :global(.vtex-input-prefix__group){
        width: fit-content;
    }
}
.figure{
    opacity: 0;
}
.carouselGaleryCursor{
   transform: translate(-35px, 0px);
} 

.productImageTag--main{
    max-width:180px;

}
.caretIcon{
    transform: translate(0px, 90px);
    color:aliceblue
}

.swiper-Bullet{
    color:aliceblue
}

.swiper-Bullet--Active{
    color:aliceblue
}
.carouselContainer{
    display:flex;
    align-items: center;
    justify-content:center;
    
}
